/* general styles */

* {

    box-sizing: border-box;
    padding: 0;
    margin-left: 0;
    
}
/*body styling*/
body {
    background-color: #d9dcd6;
}
/*header and header navigation*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 span {
    color: #d9dcd6;
}


/*replaced header to navigate to right of header*/
  header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


header nav ul {
    list-style-type: none;
}


header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*element style*/
a {
    color:#ffffff;
     text-decoration: none;
}
/* element style*/
p {
    font-size: 18px;
}
/* header nav and styles ending*/


/* hero background image section*/
.hero {  
    height: 800px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    
}

/* ending of hero image styles */

/* horiseon-styles of content section */
/*content section */
  section.content {
    width: 75%;
    display:inline-block;
    margin-left: 20px;
    
  }
.image-float-left {
    float: left;
    margin-right: 25px;
}

.image-float-left {
    float: right;
    margin-left: 25px;
}
/*consolidated into one*/  /* used article in index to style the pararaphs below each picture*/
.content article {

    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}


.content img {
    max-height: 200px;
 }

.content-image-left {
    float: left;
    margin-right: 25px;
 }

 .content-image-right {
    float: right;
    margin-left: 25px;
 }
.content-article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* content section ends *

/* aside=benefits*/
/* implemented aside to align elements side by side*/
  aside.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


 .benefits { 
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

  .benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* consolidated into one*/
  aside.benefits img {
    display:block;
    margin: 10px auto;
    max-width: 150px;
    
}

/*benefit ends */
/*.footer begins*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}

/* ending of footer*/


